{% extends 'base.html' %}
{% block content %}


<section class="py-5 text-center container">

    <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
            <img style="  width: 130px;" src="https://cdn.pixabay.com/photo/2018/04/03/00/48/fingers-3285615__340.png" alt="">
            <h1 class="fw-light">Vision</h1>
            <p id="msgg" class="lead">
                The vision for our program is ultimately to improve the mental health care provided to patients in our “community” and beyond (local, state, regional/national, including veteran) by training well-rounded and clinically exceptional psychiatrists. In doing so we seek to enhance the development and well-being of our trainees and faculty so that they can better serve our patients and become the psychiatrists they strive to be.

        </div>
    </div>
</section>


{% endblock %}